<html>
	<head>
		<title>UUID Service Demo</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="script/lvl-uuid.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body ng-app="uuidApp">
		<h1>UUID Service</h1>
		<p>A very simple service for working with UUIDs</p>
		<div ng-controller='uuidCtl'>
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					{{new}}
					<br/>
					<small>{{nInfo | date:'mediumDate'}} {{nInfo | date:'mediumTime'}}</small>
					<br/>
					<button class="btn btn-primary" ng-click='generateUuid()'>Generate UUID</button>
				</div>

				<div class="col-md-6">
					{{empty}}
					<br/>
					<small>{{eInfo | date:'mediumDate'}} {{eInfo | date:'mediumTime'}}</small>
					<br/>
					<button class="btn btn-primary" ng-click='showEmpty()'>Show empty UUID</button>
				</div>
			</div>
		</div>
		<h3>Page script</h3>
		<pre>
		angular
			.module('uuidApp', ['lvl.services'])
			.controller('uuidCtl', ['$scope', 'uuid', function($scope, uuid){
				$scope.generateUuid = function() {
					$scope.new = uuid.new();
					$scope.nInfo = new Date();
				};

				$scope.showEmpty = function() {
					$scope.empty = uuid.empty();
					$scope.eInfo = new Date();
				};
			}]);
		</pre>

		<script>
			angular
				.module('uuidApp', ['lvl.services'])
				.controller('uuidCtl', ['$scope', 'uuid', function($scope, uuid){
					$scope.generateUuid = function() {
						$scope.new = uuid.new();
						$scope.nInfo = new Date();
					};

					$scope.showEmpty = function() {
						$scope.empty = uuid.empty();
						$scope.eInfo = new Date();
					};
				}]);
		</script>
	</body>
</html>