<html>
	<head>
		<title>UUID Service Demo</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="script/lvl-uuid.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div ng-controller='demoCtl'>
			<div>
				<span>
					{{new}}
					<br/>
					<small>{{nInfo | date:medium}}
				</span>
				<button class="btn btn-primary" ng-click='generateUuid()'>Generate UUID</button>
			</div>
			<div>
				<span>
					{{empty}}
					<br/>
					<small>{{eInfo | date:medium}}
				</span>
				<button class="btn btn-primary" ng-click='showEmpty()'>Show empty UUID</button>
		</div>

		<script>
			angular
				.module('demoApp', ['lvl.services'])
				.controller('demoCtl', ['$scope', 'uuid', function($scope, uuid){
					$scope.generateUuid = function() {
						$scope.new = uuid.new();
						$scope.nInfo = new Date();
					};

					$scope.showEmpty = function() {
						$scope.empty = uuid.empty();
						$scope.eInfo = new Date();
					};
				}]);
		</script>
	</body>
</html>